*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(29, 29, 79);
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
  width: 80%;
  margin: 10px auto;
}

.product-detail{
  display: grid;
  grid-template-columns: 60% 40%; 
  gap: 40px;
}

.product-gallery{
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 10px;
}
.thumbnail{
    max-height: 450px;
    overflow-y: auto;
    direction: rtl;
    scrollbar-width: none;/* Hides the scrollbar */
    scrollbar-color: transparent transparent;/* Optional: Makes the thumb and track transparent */
}
.thumbnail img{
  width: 80px;
  height: 100px;
}

.main-product img{
  width: 100%;
  height: 450px;
}
.related{
  margin-top: 30px;
}

.related h3{
  border-left: 5px solid red;
  padding-left: 15px;
}

.related-grid{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.related-card img{
  width: 100%;
  height: 200px;
}
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
    .product-detail {
        grid-template-columns: 1fr;
    }
    .product-gallery {
        grid-template-columns: 1fr;
    }
    .main-product{
        order: 1;
    }
    .thumbnail{
        order: 2;
        display: flex;
        gap: 4px;
        overflow-x: auto;
        overflow-y: visible;
        direction: ltr;
    }
    .thumbnail img {
        flex-shrink: 0; 
        min-width: 80px; 
        max-width: 80px; 
        height: 100px;
    }
    .related-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}